@using MyEvernote.Entities
@using MyEvernote.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Myevernote-@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">My Evernote</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (CurrentSession.User != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench">&nbsp;</span>Yönetim <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","Note")"><span class="glyphicon glyphicon-plus">&nbsp;</span>Not Ekle</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index","Note")"><span class="glyphicon glyphicon-th-list">&nbsp;</span>Notlarım</a></li>
                                <li><a href="@Url.Action("MyLikedNotes","Note")"><span class="glyphicon glyphicon-heart">&nbsp;</span>Beğendiklerim</a></li>
                                @if (CurrentSession.User.isAdmin)
                                {
                                    <li role="separator" class="divider"></li>
                                    @*<li>@Bootstrap.LinkMenu("/Category/Create","plus", "Kategori Ekle", "")</li> //Helper Metodumuzlada link verebiliriz*@
                                    <li><a href="@Url.Action("Create","Category")"><span class="glyphicon glyphicon-plus">&nbsp;</span>Kategori Ekle</a></li>
                                    <li><a href="@Url.Action("Index","Category")"><span class="glyphicon glyphicon-th-list">&nbsp;</span>Kategoriler</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.Action("Create","EvernoteUser")"><span class="glyphicon glyphicon-plus">&nbsp;</span>Kullanıcı Ekle</a></li>
                                    <li><a href="@Url.Action("Index","EvernoteUser")"><span class="glyphicon glyphicon-user">&nbsp;</span>Kullanıcılar</a></li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("MostLiked", "Home")">
                            <span class="glyphicon glyphicon-star"></span> En Beğenilenler
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (CurrentSession.User == null)
                    {
                        <li>
                            <a href="@Url.Action("Register", "Home")"> <span class="glyphicon glyphicon-user"></span> Üye Ol</a>
                        </li>
                        <li>

                            <a href="@Url.Action("Login", "Home")">
                                <span class="glyphicon glyphicon-log-in"></span> Giriş
                            </a>
                        </li>
                    }
                    else
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @CurrentSession.User.UserName <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ShowProfile","Home")"><span class="glyphicon glyphicon-eye-open">&nbsp;</span>Profili Görüntüle</a> </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("EditProfile","Home")"><span class="glyphicon glyphicon-edit">&nbsp;</span>Düzenle</a></li>
                                <li><a href="@Url.Action("RemoveProfile","Home")" onclick="return confirm('Hesabınızı Silmek istediğinize emin misiniz?');"><span class="glyphicon glyphicon-trash">&nbsp;</span>Sil</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("Logout", "Home")">
                                <span class="glyphicon glyphicon-log-out"></span> Çıkış
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <!-- /.container -->
    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <strong class="text-info">Site Haritası</strong><hr />
                    <a href="#"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a><br /><br />
                    <a href="#"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br /><br />
                    <a href="#"><span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar</a><br /><br />
                </div>

                <div class="col-lg-4 text-center">
                    <strong class="text-center text-info">MyEvernote</strong><hr />
                    <p class="text-info">Tüm Hakları Saklıdır &copy; MyEvernote @DateTime.Now.Year</p>
                </div>

                <div class="col-lg-4 text-center">
                    <strong class="text-center text-info">E-Bülten Üyeliği</strong><hr />
                    <p class="text-info"> Consectetur adipiscing elit fusce vel.</p>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="E-posta adresiniz">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send"></span> Gönder</button>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

</body>
</html>
