@using MyEvernote.Entities
@model EvernoteUser
@{
    ViewBag.Title = "Kullanıcı Profili";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-info text-center">@ViewBag.Title</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/@Model.ProfileImageFileName" class="img-circle" width="148" height="148" alt="@Model.UserName" />
        </div>
        <div class="col-md-9">

            <h2 class="text-info">@Model.Name&nbsp;@Model.Surname</h2>
            <br />
            <h4 class="text-info"><b>@Html.DisplayNameFor(x=>x.UserName):&nbsp;</b>@Model.UserName</h4>
            <br />
            <h4 class="text-info"><b>@Html.DisplayNameFor(x=>x.Email) :&nbsp;</b>@Model.Email</h4>
            <br />
            <h5><a href="#">Daha fazla...</a></h5>
        </div>
    </div>
</div>


